#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.nav {
  margin-left: 8px;
  box-shadow: 0 8px 10px -6px var(--primary-color);
}
.nav a {
  padding: 0 10px 0 10px;
  border-radius: 5px;
}
.nav a:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.cv-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}
.cv-info h3 {
  margin: 2px 0 2px 0;
}

.cv-info__introduce {
  color: #888888;
  display: inline-flex;
  gap: 4rem;
  padding-top: 10px;
}
.cv-info__introduce a {
  display: flex;
  align-items: center;
}

.cv-journey {
  display: grid;
  border-style: dot-dash;
  border-width: 1px;
  border-color: #646cff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  grid-gap: 10px;
}

.cv-journey__experience {
  grid-column: span 2;
}
.cv-journey__experience h2, .cv-journey__skill-edu-interest h2 {
  text-transform: capitalize;
  color: var(--blue-color);
}
.cv-journey__experience-title,
.cv-journey__experience-company,
.cv-journey__skill-edu-interest-title,
.cv-journey__skill-edu-interest-company {
  font-size: 20px;
  font-weight: 600;
}
.cv-journey__experience-company {
  color: var(--gray-color);
}
.cv-journey__experience div span {
  display: inline-flex;
  padding: 5px 5px 5px 0;
  text-transform: capitalize;
}
.cv-journey__experience-date, .cv-journey__skill-edu-interest-date {
  margin-top: -10px;
  font-style: oblique;
  letter-spacing: 0.025rem;
  font-weight: 400;
}

.cv-journey__experience-description {
  max-width: 700px;
}
.cv-journey__experience-description li {
  padding: 3px 0 3px 0;
}
.cv-journey__experience-description li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0;
  text-align: start;
  text-align-last: start;
  color: var(--blue-color);
}

.cv-journey__skill-edu-interest-title {
  text-transform: capitalize;
}
.cv-journey__skill-edu-interest div {
  padding: 16px 0 16px 0;
}
.cv-journey__skill-edu-interest div span {
  display: inline-flex;
  padding: 5px 0 5px 0;
  text-transform: capitalize;
}
/*.cv-journey__skill-edu-interest-tag {}*/

@media (max-width: 760px) {
  .cv-info__introduce {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
    margin-top: 1rem;
  }
  .cv-journey {
    display: flex;
    flex-direction: column;
  }
  .cv-journey__skill-edu-interest div {
    padding: 0;
  }
  .cv-journey__experience-company {
    font-size: 1em;
  }
}

.svg-octicon:hover {
  background-color: var(--primary-color) !important;
}
