#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
}

.nav {
  margin-left: 8px;
  box-shadow: 0 8px 10px -6px var(--primary-color);
}
.nav a {
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: var(--blue-color);
}
.nav a:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.cv-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}
.cv-info h3 {
  margin: 2px 0 2px 0;
}

.cv-info__introduce {
  color: var(--gray-color);
  display: inline-flex;
  gap: 4rem;
  padding-top: 10px;
}
.cv-info__introduce a {
  display: flex;
  align-items: center;
}

.cv-journey {
  display: grid;
  border-style: dot-dash;
  border-width: 1px;
  border-color: #646cff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  grid-gap: 10px;
}

.cv-readme {
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  /* box-shadow: 0 10px 10px #d9d9d9; */
  /* min-height: 100vh; */

  .cv-readme-hightlight {
    position: sticky;
    top: 0;
    padding: 4px 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #5e5e5e;
    background-color: color(srgb 0.1412 0.1412 0.1412);
  }

  .svg-octicon svg {
    fill: var(--gray-color)
  }
  #readme {
    color: var(--white-color)
  }
}

.cv-summary {
  padding: 0 16px;
}

.cv-journey__experience {
  grid-column: span 2;
}
.cv-journey__experience h2, .cv-journey__skill-edu-interest h2 {
  text-transform: capitalize;
  color: var(--blue-color);
}
.cv-journey__experience-title,
.cv-journey__experience-company,
.cv-journey__skill-edu-interest-title,
.cv-journey__skill-edu-interest-company {
  font-size: 20px;
  font-weight: 600;
}
.cv-journey__experience-company {
  color: var(--gray-color);
}
.cv-journey__experience div span {
  display: inline-flex;
  padding: 5px 5px 5px 0;
  text-transform: capitalize;
}
.cv-journey__experience-date, .cv-journey__skill-edu-interest-date {
  margin-top: -10px;
  font-style: oblique;
  letter-spacing: 0.025rem;
  font-weight: 400;
}

.cv-journey__experience-description {
  max-width: 700px;
}
.cv-journey__experience-description li {
  padding: 3px 0 3px 0;
}
.cv-journey__experience-description li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0;
  text-align: start;
  text-align-last: start;
  color: var(--blue-color);
}

.cv-journey__skill-edu-interest-title {
  text-transform: capitalize;
}
.cv-journey__skill-edu-interest div {
  padding: 16px 0 16px 0;
}
.cv-journey__skill-edu-interest div span {
  display: inline-flex;
  padding: 5px 0 5px 0;
  text-transform: capitalize;
}
/*.cv-journey__skill-edu-interest-tag {}*/

@media (max-width: 760px) {
  #root {
    padding: 0;
  }
  body {
    /* font-size: 13px; */
  }
  
  .cv-info {
    margin: 16px;
  }
  .cv-info__introduce {
    display: inline-flex;
    flex-flow: wrap;
    gap: 8px;
    padding-top: 5px;
  }

  .cv-info__introduce address, a > span {
    color: var(--gray-color);
    padding: 0 4px;
    border-radius: 50px;
    background-color: var(--primary-color);
  }
  
  .cv-journey {
    display: flex;
    flex-direction: column;
  }
  .cv-journey__skill-edu-interest div {
    padding: 0;
  }
  .cv-journey__experience-company {
    font-size: 1em;
  }

  .cv-readme {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  .cv-readme-hightlight {
    position: sticky;
    top: 0;
    padding: 4px;
    border-radius: 0 !important;
    border-bottom: 1px solid;
    opacity: 1
  }

  .svg-octicon svg {
      fill: var(--gray-color)
    }
    #readme {
      color: var(--white-color)
    }

    .cv-readme {
      min-height: '100vh';
    }
}

.svg-octicon:hover {
  background-color: var(--primary-color) !important;
}