#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: var(--border-radius);
  text-decoration: inherit;
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  /*color: var(--text-1);*/
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

h2, h3 {
  text-transform: capitalize;
  cursor: pointer;
  padding-bottom: 10px;
}

h2, h3, h4, h5, h6 {
  max-inline-size: max-content;
}

li {
  max-inline-size: max-content;
}

.content {
  padding: 1rem 1rem;
}

.cv-readme {
  border: 1px solid var(--gray-6);
  border-radius: var(--border-radius);
}

.rad-shadow {
  border: 1px solid;
  box-shadow:
    0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
    0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 1%)),
    0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
    0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 2%)),
    0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 3%)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}

@keyframes Select-nav {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
}

@media (max-width: 760px) {
  #root {
    padding: 0;
  }

  .cv-readme {
    border: none;
    box-shadow: none;
    border-radius: 0;
    min-height: 100vh;
  }
}

.cv-feedback {
  position: fixed;
  z-index: 999;
  bottom: 120px;
  right: 4rem;
  cursor: pointer;
  color: white;
  width: 3rem;
  height: 3rem;
  background-color: #3d3d3d;
  border-radius: 50%;
}

.cv-feedback-icon {
  bottom: 8.3rem;
  padding-top: 0.325rem;
  position: fixed;
  right: 4.83rem;
  transition: all .11s;
}

figure {
  border: 1px solid red;
}