/*@import 'open-props/open-props.min.css';*/
/*@import 'open-props/colors.min.css';*/
@import 'open-props/normalize.min.css';
@import 'open-props/gray-hsl.min.css';

html {
  /*light*/
  --primary-light: var(--orange-8);
  --blue-text-light: var(--blue-7);
  --blue-bg-light: var(--blue-1);
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --surface-1-light: var(--gray-1);
  --surface-2-light: var(--gray-2);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;

  --gradient-1-light: var(--gradient-23);

  /*dark*/
  --primary-dark: var(--orange-4);
  --blue-text-dark: var(--blue-3);
  --blue-bg-dark: var(--blue-12);
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-shadow-dark: var(--gray-12-hsl);
  --shadow-strength-dark: 80%;

  --gradient-green-dark: var(--gradient-4);


  /*common*/
  --global-margin: 16px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light;

  /* set defaults */
  --primary: var(--primary-light);
  --blue-text: var(--blue-text-light);
  --blue-bg: var(--blue-bg-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);

  --gradient-text-1: var(--gradient-1-light);

}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    /* set defaults */
    --primary: var(--primary-dark);
    --blue-text: var(--blue-text-dark);
    --blue-bg: var(--blue-bg-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);

    --gradient-text-1: var(--gradient-green-dark);
  }

  #cv-mail,
  #cv-phone,
  #readme {
    color: #1a1a1a !important;
  }

  .cv-readme {
    border: 1px solid #d9d9d9 !important;
  }
  .cv-readme-hightlight {
    border-bottom: 1px solid #d9d9d9 !important;
    background-color: white !important;
  }
}

@media (max-width: 760px) {
  .cv-feedback, .cv-review-popup {
    right: 2rem;
  }

  .cv-feedback-icon {
    right: 2.83rem;
  }
}
